<h1><%= @user.username %> Created Events</h1>

<% @created_events.each do |event| %>
  <div style="padding-left: 1rem; border: 1px solid black;">
    <h2><%= event.event_name %></h2>
    <p><%= event.description %></p>
  </div>
<% end %>
